.btn {
    border: none;
    background-color: var(--main-100);
    color: var(--text-100);
    fill: var(--text-100);
    margin: 0;
    padding: 8px;
    border-radius: 12px;
    line-height: 0px;
    transition: background-color 150ms;

    @media screen and (max-width: 425px) {
        padding: 7px;
        
        svg {
            width: 1.625rem;
            height: 1.625rem;
        }
    }

    @media screen and (max-width: 425px) {
        svg {
            width: 1.575rem;
            height: 1.575rem;
        }
    }

    &:hover {
        background-color: var(--main-200);
        cursor: pointer;
    }
}