.navbar {
    box-shadow: 0px 4px 25px rgba(42, 42, 52, 0.12);
    border-bottom: 2px solid #C7CBDC;
    padding: 10px 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    @media screen and (max-width: 768px) {
        padding: 8px 18px;
    }

    @media screen and (max-width: 425px) {
        padding: 6px 12px;
    }

    & > *:first-child {
        justify-self: left;
    }

    & > *:nth-child(2) {
        justify-self: center;
    }

    & > *:last-child {
        justify-self: right;
    }
}

.rightButtons > button:last-child {
    margin-left: 15px;

    @media screen and (max-width: 425px) {
        margin-left: 8px;
    }
}