.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 74px);
  align-items: center;
  justify-content: space-between;
}

.panel {
  flex-grow: 1;
  align-content: center;
}

.keyboard {
  margin-bottom: 50px;
}